    body {
    background-color: rgb(155, 205, 235);
    margin: 20px;
    padding: 20px;
    
    
}
    h1 {
    text-align: center;
    color: white;
    text-shadow: black -0.1em -0.1em 0.1em;
    font-family: 'Langar', cursive;
    font-size: 40pt;
    margin: 10px;
    padding: 20px;
    background-color:rgba(183, 214, 171,40%);
    border-radius: 30px;
    border: rgba(183, 214, 171,40%) solid 10px;
    transition: all 3s 1s;
    
    }

    h1:hover {
        -webkit-transform: scale(0.9);
        border-radius:60px;
        border: rgba(183, 233, 171,100%) solid 10px;
        text-shadow: black 0.1em 0.1em 0.1em;
    }
   